@import '~src/_variables';

.header {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $primary;
}

.toolbar {
  background-color: $primary;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.menu {
  &__main-button {
    margin: 0 0 0 auto;
  }
}
