/* You can add global styles to this file, and also import other style files */

@import '~src/_variables';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
